# general
.DS_Store
*.log

# env & secrets
.env
.env.*
*.env.local

# Python
__pycache__/
*.pyc
.venv/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Node/Next (future)
node_modules/
.next/
dist/
build/
coverage/
.turbo/

# Editors/OS
.vscode/
.idea/
.DS_Store

# Docker
**/.pytest_cache/
**/.docker/

#cursor
.cursorignore
.cursorrules